### TABLES

In [32]:
# Load the SQL extension
%reload_ext sql

# Connect to a MariaDB database
%sql mysql+pymysql://csc370:1234@localhost:3306/sprint1

In [31]:
%%sql

-- Create main tables
CREATE TABLE `Session` (
    `SessionID` INT PRIMARY KEY
);

CREATE TABLE `Portfolio` (
    `PortfolioID` INT PRIMARY KEY,
    `TotalAmt` FLOAT,
    `Risk` VARCHAR(64)
);

CREATE TABLE `Allocation` (
    `AllocID` INT PRIMARY KEY,
    `Ticker` VARCHAR(10),
    `Amount` FLOAT
);

CREATE TABLE `Stock` (
    `StockID` INT PRIMARY KEY,
    `Ticker` VARCHAR(10),
    `Sector` VARCHAR(64),
    `Price` FLOAT,
    `SD` FLOAT,   -- Standard Deviation
    `ERet` FLOAT  -- Expected Return
);

CREATE TABLE `History` (
    `HistoryID` INT PRIMARY KEY,
    `Ticker` VARCHAR(10),
    `Date` VARCHAR(10),
    `Price` FLOAT
);

-- Create relationship tables

-- Session HAS Portfolio
-- Portfolio HAS Stock (assuming a portfolio can directly contain stocks)
CREATE TABLE `PortfolioHasStock` (
    `PortfolioID` INT,
    `StockID` INT,
    FOREIGN KEY (`PortfolioID`) REFERENCES `Portfolio`(`PortfolioID`),
    FOREIGN KEY (`StockID`) REFERENCES `Stock`(`StockID`),
    PRIMARY KEY (`PortfolioID`, `StockID`)
);

-- Allocation HAS Stock
CREATE TABLE `AllocationHasStock` (
    `AllocID` INT,
    `StockID` INT,
    FOREIGN KEY (`AllocID`) REFERENCES `Allocation`(`AllocID`),
    FOREIGN KEY (`StockID`) REFERENCES `Stock`(`StockID`),
    PRIMARY KEY (`AllocID`, `StockID`)
);

-- Stock HAS History
CREATE TABLE `StockHasHistory` (
    `StockID` INT,
    `HistoryID` INT,
    FOREIGN KEY (`StockID`) REFERENCES `Stock`(`StockID`),
    FOREIGN KEY (`HistoryID`) REFERENCES `History`(`HistoryID`),
    PRIMARY KEY (`StockID`, `HistoryID`)
);CREATE TABLE `SessionHasPortfolio` (
    `SessionID` INT,
    `PortfolioID` INT,
    FOREIGN KEY (`SessionID`) REFERENCES `Session`(`SessionID`),
    FOREIGN KEY (`PortfolioID`) REFERENCES `Portfolio`(`PortfolioID`),
    PRIMARY KEY (`SessionID`, `PortfolioID`)
);

-- Portfolio HAS Allocation
CREATE TABLE `PortfolioHasAllocation` (
    `PortfolioID` INT,
    `AllocID` INT,
    FOREIGN KEY (`PortfolioID`) REFERENCES `Portfolio`(`PortfolioID`),
    FOREIGN KEY (`AllocID`) REFERENCES `Allocation`(`AllocID`),
    PRIMARY KEY (`PortfolioID`, `AllocID`)
);

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
(pymysql.err.OperationalError) (1050, "Table 'session' already exists")
[SQL: -- Create main tables
CREATE TABLE `Session` (
    `SessionID` INT PRIMARY KEY
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [33]:
%%sql

SHOW TABLES

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
10 rows affected.

[('allocation',),
 ('allocationhasstock',),
 ('history',),
 ('portfolio',),
 ('portfoliohasallocation',),
 ('portfoliohasstock',),
 ('session',),
 ('sessionhasportfolio',),
 ('stock',),
 ('stockhashistory',)]

In [36]:
%%sql

DESCRIBE stock;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
6 rows affected.

[('StockID', 'int', 'NO', 'PRI', None, ''),
 ('Ticker', 'varchar(10)', 'YES', '', None, ''),
 ('Sector', 'varchar(64)', 'YES', '', None, ''),
 ('Price', 'float', 'YES', '', None, ''),
 ('SD', 'float', 'YES', '', None, ''),
 ('ERet', 'float', 'YES', '', None, '')]

In [66]:
import yfinance as yf

# Function to fetch stock data
def fetch_stock_data(ticker):
    try:
        # Create a Ticker object for the specified ticker
        stock = yf.Ticker(ticker)
        
        # Fetch stock info with safe default values
        stock_info = stock.info
        stock_id = stock_info.get('symbol', ticker)  # Default to the input ticker if 'symbol' is not available
        sector = stock_info.get('sector', 'Unknown')  # Default to 'Unknown' if 'sector' is not available
        price = stock_info.get('regularMarketPreviousClose', 0.0)  # Default to 0.0 if 'regularMarketPreviousClose' is not available
        sd = stock_info.get('beta', 0.0)  # Default to 0.0 if 'beta' is not available
        eret = stock_info.get('forwardEps', 0.0)  # Default to 0.0 if 'forwardEps' is not available
        
        return stock_id, sector, price, sd, eret
    except Exception as e:
        print(f"Error fetching data for {ticker}: {e}")
        return None, None, None, None, None

# Prompt the user for a stock ticker symbol
ticker = input("Enter the stock ticker symbol: ")

# Fetch stock data
stock_id, sector, price, sd, eret = fetch_stock_data(ticker)

# Print the fetched information
if stock_id:
    print("Stock ID:", stock_id)
    print("Sector:", sector)
    print("Previous Close Price:", price)
    print("Beta (Standard Deviation):", sd)
    print("Forward Earnings Per Share:", eret)
else:
    print(f"Failed to fetch data for ticker symbol {ticker}.")

Stock ID: TSLA
Sector: Consumer Cyclical
Previous Close Price: 173.74
Beta (Standard Deviation): 2.408
Forward Earnings Per Share: 3.31

In [67]:
%%sql

INSERT INTO stock (StockID, Ticker, Sector, Price, SD, ERet) VALUES (1, :stock_id, :sector, :price, :sd, :eret);

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
1 rows affected.
1 rows affected.

[]

In [68]:
%%sql

SELECT * FROM stock;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
1 rows affected.

[(1, 'TSLA', 'Consumer Cyclical', 173.74, 2.408, 3.31)]

In [85]:
import yfinance as yf

# Function to fetch stock data
def fetch_stock_data(ticker, stock_id):
    try:
        # Create a Ticker object for the specified ticker
        stock = yf.Ticker(ticker)
        
        # Fetch stock info with safe default values
        stock_info = stock.info
        symbol = stock_info.get('symbol', ticker)  # Default to the input ticker if 'symbol' is not available
        sector = stock_info.get('sector', 'Unknown')  # Default to 'Unknown' if 'sector' is not available
        price = stock_info.get('regularMarketPreviousClose', 0.0)  # Default to 0.0 if 'regularMarketPreviousClose' is not available
        sd = stock_info.get('beta', 0.0)  # Default to 0.0 if 'beta' is not available
        eret = stock_info.get('forwardEps', 0.0)  # Default to 0.0 if 'forwardEps' is not available
        
        return stock_id, symbol, sector, price, sd, eret
    except Exception as e:
        print(f"Error fetching data for {ticker}: {e}")
        return stock_id, None, None, None, None, None

# Prompt the user for stock ticker symbols
tickers = input("Enter the stock ticker symbols (separated by commas): ").split(',')

# Initialize stock_id counter
stock_id = 1

# List to hold the fetched data
stock_data_list = []

# Fetch and store stock data for each ticker symbol
for ticker in tickers:
    ticker = ticker.strip()  # Remove any leading/trailing whitespace
    stock_data = fetch_stock_data(ticker, stock_id)
    if stock_data[1]:  # Check if symbol is not None
        stock_data_list.append(stock_data)
    stock_id += 1

# Prepare the SQL insert statements
insert_statements = []
for data in stock_data_list:
    stock_id, symbol, sector, price, sd, eret = data
    insert_statement = f"INSERT INTO stock (StockID, Ticker, Sector, Price, SD, ERet) VALUES ({stock_id}, '{symbol}', '{sector}', {price}, {sd}, {eret});"
    insert_statements.append(insert_statement)

# Combine all insert statements into a single string
sql_insert_statements = "\n".join(insert_statements)

# Save the SQL insert statements to a file
with open("insert_statements.sql", "w") as file:
    file.write(sql_insert_statements)

# Display the SQL insert statements
print(sql_insert_statements)

INSERT INTO stock (StockID, Ticker, Sector, Price, SD, ERet) VALUES (1, 'TSLA', 'Consumer Cyclical', 173.74, 2.408, 3.31);
INSERT INTO stock (StockID, Ticker, Sector, Price, SD, ERet) VALUES (2, 'AAPL', 'Technology', 186.88, 1.264, 7.23);
INSERT INTO stock (StockID, Ticker, Sector, Price, SD, ERet) VALUES (3, 'VTI', 'Unknown', 259.99, 0.0, 0.0);

In [86]:
%%sql

DELETE FROM stock;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
3 rows affected.

[]

In [87]:
# Store the SQL insert statements in a variable
%store sql_insert_statements

Stored 'sql_insert_statements' (str)

In [88]:
%%sql

{sql_insert_statements}

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [89]:
%%sql

SELECT * FROM stock;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
3 rows affected.

[(1, 'TSLA', 'Consumer Cyclical', 173.74, 2.408, 3.31),
 (2, 'AAPL', 'Technology', 186.88, 1.264, 7.23),
 (3, 'VTI', 'Unknown', 259.99, 0.0, 0.0)]