### TABLES

In [1]:
# Load the SQL extension
%reload_ext sql

# Connect to a MariaDB database
%sql mysql+pymysql://csc370:1234@localhost:3306/sprint1

In [2]:
%%sql

-- Create main tables
CREATE TABLE `Session` (
    `SessionID` INT PRIMARY KEY
);

CREATE TABLE `Portfolio` (
    `PortfolioID` INT PRIMARY KEY,
    `TotalAmt` FLOAT,
    `Risk` VARCHAR(64)
);

CREATE TABLE `Allocation` (
    `AllocID` INT PRIMARY KEY,
    `Ticker` VARCHAR(10),
    `Amount` FLOAT
);

CREATE TABLE `Stock` (
    `StockID` INT PRIMARY KEY,
    `Ticker` VARCHAR(10),
    `Sector` VARCHAR(64),
    `Price` FLOAT,
    `SD` FLOAT,   -- Standard Deviation
    `ERet` FLOAT  -- Expected Return
);

CREATE TABLE `History` (
    `HistoryID` INT PRIMARY KEY,
    `Ticker` VARCHAR(10),
    `Date` VARCHAR(10),
    `Price` FLOAT
);

-- Create relationship tables

-- Session HAS Portfolio
CREATE TABLE `SessionHasPortfolio` (
    `SessionID` INT,
    `PortfolioID` INT,
    FOREIGN KEY (`SessionID`) REFERENCES `Session`(`SessionID`),
    FOREIGN KEY (`PortfolioID`) REFERENCES `Portfolio`(`PortfolioID`),
    PRIMARY KEY (`SessionID`, `PortfolioID`)
);

-- Portfolio HAS Allocation
CREATE TABLE `PortfolioHasAllocation` (
    `PortfolioID` INT,
    `AllocID` INT,
    FOREIGN KEY (`PortfolioID`) REFERENCES `Portfolio`(`PortfolioID`),
    FOREIGN KEY (`AllocID`) REFERENCES `Allocation`(`AllocID`),
    PRIMARY KEY (`PortfolioID`, `AllocID`)
);

-- Portfolio HAS Stock (assuming a portfolio can directly contain stocks)
CREATE TABLE `PortfolioHasStock` (
    `PortfolioID` INT,
    `StockID` INT,
    FOREIGN KEY (`PortfolioID`) REFERENCES `Portfolio`(`PortfolioID`),
    FOREIGN KEY (`StockID`) REFERENCES `Stock`(`StockID`),
    PRIMARY KEY (`PortfolioID`, `StockID`)
);

-- Allocation HAS Stock
CREATE TABLE `AllocationHasStock` (
    `AllocID` INT,
    `StockID` INT,
    FOREIGN KEY (`AllocID`) REFERENCES `Allocation`(`AllocID`),
    FOREIGN KEY (`StockID`) REFERENCES `Stock`(`StockID`),
    PRIMARY KEY (`AllocID`, `StockID`)
);

-- Stock HAS History
CREATE TABLE `StockHasHistory` (
    `StockID` INT,
    `HistoryID` INT,
    FOREIGN KEY (`StockID`) REFERENCES `Stock`(`StockID`),
    FOREIGN KEY (`HistoryID`) REFERENCES `History`(`HistoryID`),
    PRIMARY KEY (`StockID`, `HistoryID`)
);

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
(pymysql.err.OperationalError) (1050, "Table 'session' already exists")
[SQL: -- Create main tables
CREATE TABLE `Session` (
    `SessionID` INT PRIMARY KEY
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### DEMO

User inputs AAPL, MSFT, AMZN, GOOGL, META, TSLA, BRK-A, JNJ, JPM, V, PG, NVDA, DIS, KO, WMT (step-by-step)

In [3]:
import get_stock
tickers = 'AAPL, MSFT, AMZN, GOOGL, META, TSLA, BRK-A, JNJ, JPM, V, PG, NVDA, DIS, KO, WMT'
#tickers = input("Enter the stock ticker symbols (separated by commas): ").split(',')
sql_insert_statements = get_stock.main(tickers)
print(sql_insert_statements)

INSERT INTO stock (StockID, Ticker, Sector, Price, SD, ERet) VALUES (1, 'AAPL', 'Technology', 191.29, 1.264, 7.23);
INSERT INTO stock (StockID, Ticker, Sector, Price, SD, ERet) VALUES (2, 'MSFT', 'Technology', 414.67, 0.893, 13.26);
INSERT INTO stock (StockID, Ticker, Sector, Price, SD, ERet) VALUES (3, 'AMZN', 'Consumer Cyclical', 179.32, 1.155, 5.76);
INSERT INTO stock (StockID, Ticker, Sector, Price, SD, ERet) VALUES (4, 'GOOGL', 'Communication Services', 172.11, 1.019, 8.59);
INSERT INTO stock (StockID, Ticker, Sector, Price, SD, ERet) VALUES (5, 'META', 'Communication Services', 467.05, 1.208, 23.08);
INSERT INTO stock (StockID, Ticker, Sector, Price, SD, ERet) VALUES (6, 'TSLA', 'Consumer Cyclical', 178.79, 2.408, 3.31);
INSERT INTO stock (StockID, Ticker, Sector, Price, SD, ERet) VALUES (7, 'BRK-A', 'Financial Services', 617690.0, 0.894, 29579.4);
INSERT INTO stock (StockID, Ticker, Sector, Price, SD, ERet) VALUES (8, 'JNJ', 'Healthcare', 145.28, 0.547, 10.94);
INSERT INTO stock (StockID, Ticker, Sector, Price, SD, ERet) VALUES (9, 'JPM', 'Financial Services', 199.33, 1.116, 16.57);
INSERT INTO stock (StockID, Ticker, Sector, Price, SD, ERet) VALUES (10, 'V', 'Financial Services', 271.3, 0.953, 11.18);
INSERT INTO stock (StockID, Ticker, Sector, Price, SD, ERet) VALUES (11, 'PG', 'Consumer Defensive', 162.58, 0.423, 6.97);
INSERT INTO stock (StockID, Ticker, Sector, Price, SD, ERet) VALUES (12, 'NVDA', 'Technology', 1105.0, 1.749, 35.66);
INSERT INTO stock (StockID, Ticker, Sector, Price, SD, ERet) VALUES (13, 'DIS', 'Communication Services', 101.7, 1.395, 5.46);
INSERT INTO stock (StockID, Ticker, Sector, Price, SD, ERet) VALUES (14, 'KO', 'Consumer Defensive', 61.97, 0.575, 3.01);
INSERT INTO stock (StockID, Ticker, Sector, Price, SD, ERet) VALUES (15, 'WMT', 'Consumer Defensive', 64.89, 0.494, 2.66);

In [8]:
%%sql

DELETE FROM stock;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
15 rows affected.

[]

In [9]:
# Store the SQL insert statements in a variable
%store sql_insert_statements

Stored 'sql_insert_statements' (str)

In [10]:
%%sql

{sql_insert_statements}

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [11]:
%%sql

SELECT * FROM stock;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
15 rows affected.

[(1, 'AAPL', 'Technology', 191.29, 1.264, 7.23),
 (2, 'MSFT', 'Technology', 414.67, 0.893, 13.26),
 (3, 'AMZN', 'Consumer Cyclical', 179.32, 1.155, 5.76),
 (4, 'GOOGL', 'Communication Services', 172.11, 1.019, 8.59),
 (5, 'META', 'Communication Services', 467.05, 1.208, 23.08),
 (6, 'TSLA', 'Consumer Cyclical', 178.79, 2.408, 3.31),
 (7, 'BRK-A', 'Financial Services', 617690.0, 0.894, 29579.4),
 (8, 'JNJ', 'Healthcare', 145.28, 0.547, 10.94),
 (9, 'JPM', 'Financial Services', 199.33, 1.116, 16.57),
 (10, 'V', 'Financial Services', 271.3, 0.953, 11.18),
 (11, 'PG', 'Consumer Defensive', 162.58, 0.423, 6.97),
 (12, 'NVDA', 'Technology', 1105.0, 1.749, 35.66),
 (13, 'DIS', 'Communication Services', 101.7, 1.395, 5.46),
 (14, 'KO', 'Consumer Defensive', 61.97, 0.575, 3.01),
 (15, 'WMT', 'Consumer Defensive', 64.89, 0.494, 2.66)]