### TABLES

In [14]:
# Load the SQL extension
%reload_ext sql

# Connect to a MariaDB database
%sql mysql+pymysql://csc370:1234@localhost:3306/sprint1

In [15]:
%%sql

-- Create main tables
CREATE TABLE `Session` (
    `SessionID` INT PRIMARY KEY
);

CREATE TABLE `Portfolio` (
    `PortfolioID` INT PRIMARY KEY,
    `TotalAmt` FLOAT,
    `Risk` VARCHAR(64)
);

CREATE TABLE `Allocation` (
    `AllocID` INT PRIMARY KEY,
    `Ticker` VARCHAR(10),
    `Amount` FLOAT
);

CREATE TABLE `Stocks` (
    `StockID` INT PRIMARY KEY,
    `Ticker` VARCHAR(10),
    `Sector` VARCHAR(64),
    `Price` FLOAT,
    `SD` FLOAT,   -- Standard Deviation
    `ERet` FLOAT  -- Expected Return
);

CREATE TABLE `History` (
    `HistoryID` INT PRIMARY KEY,
    `Ticker` VARCHAR(10),
    `Date` VARCHAR(10),
    `Price` FLOAT
);

-- Create relationship tables

-- Session HAS Portfolio
-- Portfolio HAS Stocks (assuming a portfolio can directly contain stocks)
CREATE TABLE `PortfolioHasStock` (
    `PortfolioID` INT,
    `StockID` INT,
    FOREIGN KEY (`PortfolioID`) REFERENCES `Portfolio`(`PortfolioID`),
    FOREIGN KEY (`StockID`) REFERENCES `Stocks
`(`StockID`),
    PRIMARY KEY (`PortfolioID`, `StockID`)
);

-- Allocation HAS Stocks
CREATE TABLE `AllocationHasStock` (
    `AllocID` INT,
    `StockID` INT,
    FOREIGN KEY (`AllocID`) REFERENCES `Allocation`(`AllocID`),
    FOREIGN KEY (`StockID`) REFERENCES `Stocks
`(`StockID`),
    PRIMARY KEY (`AllocID`, `StockID`)
);

-- Stocks HAS History
CREATE TABLE `StockHasHistory` (
    `StockID` INT,
    `HistoryID` INT,
    FOREIGN KEY (`StockID`) REFERENCES `Stocks
`(`StockID`),
    FOREIGN KEY (`HistoryID`) REFERENCES `History`(`HistoryID`),
    PRIMARY KEY (`StockID`, `HistoryID`)
);CREATE TABLE `SessionHasPortfolio` (
    `SessionID` INT,
    `PortfolioID` INT,
    FOREIGN KEY (`SessionID`) REFERENCES `Session`(`SessionID`),
    FOREIGN KEY (`PortfolioID`) REFERENCES `Portfolio`(`PortfolioID`),
    PRIMARY KEY (`SessionID`, `PortfolioID`)
);

-- Portfolio HAS Allocation
CREATE TABLE `PortfolioHasAllocation` (
    `PortfolioID` INT,
    `AllocID` INT,
    FOREIGN KEY (`PortfolioID`) REFERENCES `Portfolio`(`PortfolioID`),
    FOREIGN KEY (`AllocID`) REFERENCES `Allocation`(`AllocID`),
    PRIMARY KEY (`PortfolioID`, `AllocID`)
);

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
(pymysql.err.OperationalError) (1050, "Table 'session' already exists")
[SQL: -- Create main tables
CREATE TABLE `Session` (
    `SessionID` INT PRIMARY KEY
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### DEMO

User inputs AAPL, MSFT, AMZN, GOOGL, META, TSLA, BRK-A, JNJ, JPM, V, PG, NVDA, DIS, KO, WMT (step-by-step)

In [16]:
import get_stock
tickers = 'AAPL, MSFT, AMZN, GOOGL, META, TSLA, BRK-A, JNJ, JPM, V, PG, NVDA, DIS, KO, WMT'
#tickers = input("Enter the stock ticker symbols (separated by commas): ").split(',')
sql_insert_statements = get_stock.main(tickers)
print(sql_insert_statements)

INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (1, 'AAPL', 'Technology', 191.29, 1.264, 3.78);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (2, 'MSFT', 'Technology', 414.67, 0.893, 3.198);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (3, 'AMZN', 'Consumer Cyclical', 179.32, 1.155, 3.212);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (4, 'GOOGL', 'Communication Services', 172.11, 1.019, 4.991);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (5, 'META', 'Communication Services', 467.05, 1.208, 4.942);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (6, 'TSLA', 'Consumer Cyclical', 178.79, 2.408, 1.851);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (7, 'BRK-A', 'Financial Services', 617690.0, 0.894, 4.789);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (8, 'JNJ', 'Healthcare', 145.28, 0.547, 7.53);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (9, 'JPM', 'Financial Services', 199.33, 1.116, 8.313);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (10, 'V', 'Financial Services', 271.3, 0.953, 4.121);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (11, 'PG', 'Consumer Defensive', 162.58, 0.423, 4.287);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (12, 'NVDA', 'Technology', 1105.0, 1.749, 3.227);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (13, 'DIS', 'Communication Services', 101.7, 1.395, 5.369);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (14, 'KO', 'Consumer Defensive', 61.97, 0.575, 4.857);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (15, 'WMT', 'Consumer Defensive', 64.89, 0.494, 4.099);

In [17]:
%%sql

DELETE FROM stocks;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
10 rows affected.

[]

In [18]:
# Store the SQL insert statements in a variable
%store sql_insert_statements

Stored 'sql_insert_statements' (str)

In [19]:
%%sql

{sql_insert_statements}

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [20]:
%%sql

SELECT * FROM stocks;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
15 rows affected.

[(1, 'AAPL', 'Technology', 191.29, 1.264, 3.78),
 (2, 'MSFT', 'Technology', 414.67, 0.893, 3.198),
 (3, 'AMZN', 'Consumer Cyclical', 179.32, 1.155, 3.212),
 (4, 'GOOGL', 'Communication Services', 172.11, 1.019, 4.991),
 (5, 'META', 'Communication Services', 467.05, 1.208, 4.942),
 (6, 'TSLA', 'Consumer Cyclical', 178.79, 2.408, 1.851),
 (7, 'BRK-A', 'Financial Services', 617690.0, 0.894, 4.789),
 (8, 'JNJ', 'Healthcare', 145.28, 0.547, 7.53),
 (9, 'JPM', 'Financial Services', 199.33, 1.116, 8.313),
 (10, 'V', 'Financial Services', 271.3, 0.953, 4.121),
 (11, 'PG', 'Consumer Defensive', 162.58, 0.423, 4.287),
 (12, 'NVDA', 'Technology', 1105.0, 1.749, 3.227),
 (13, 'DIS', 'Communication Services', 101.7, 1.395, 5.369),
 (14, 'KO', 'Consumer Defensive', 61.97, 0.575, 4.857),
 (15, 'WMT', 'Consumer Defensive', 64.89, 0.494, 4.099)]

In [21]:
%%sql

SELECT * FROM stocks
ORDER BY Price DESC;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
15 rows affected.

[(7, 'BRK-A', 'Financial Services', 617690.0, 0.894, 4.789),
 (12, 'NVDA', 'Technology', 1105.0, 1.749, 3.227),
 (5, 'META', 'Communication Services', 467.05, 1.208, 4.942),
 (2, 'MSFT', 'Technology', 414.67, 0.893, 3.198),
 (10, 'V', 'Financial Services', 271.3, 0.953, 4.121),
 (9, 'JPM', 'Financial Services', 199.33, 1.116, 8.313),
 (1, 'AAPL', 'Technology', 191.29, 1.264, 3.78),
 (3, 'AMZN', 'Consumer Cyclical', 179.32, 1.155, 3.212),
 (6, 'TSLA', 'Consumer Cyclical', 178.79, 2.408, 1.851),
 (4, 'GOOGL', 'Communication Services', 172.11, 1.019, 4.991),
 (11, 'PG', 'Consumer Defensive', 162.58, 0.423, 4.287),
 (8, 'JNJ', 'Healthcare', 145.28, 0.547, 7.53),
 (13, 'DIS', 'Communication Services', 101.7, 1.395, 5.369),
 (15, 'WMT', 'Consumer Defensive', 64.89, 0.494, 4.099),
 (14, 'KO', 'Consumer Defensive', 61.97, 0.575, 4.857)]

In [22]:
%%sql

SELECT Sector, COUNT(*) AS NumberOfStocks
FROM stocks
GROUP BY Sector;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
6 rows affected.

[('Technology', 3),
 ('Consumer Cyclical', 2),
 ('Communication Services', 3),
 ('Financial Services', 3),
 ('Healthcare', 1),
 ('Consumer Defensive', 3)]

In [23]:
%%sql

SELECT Sector, ROUND(AVG(SD), 3) AS AverageSD
FROM stocks
GROUP BY Sector;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
6 rows affected.

[('Technology', 1.302),
 ('Consumer Cyclical', 1.781),
 ('Communication Services', 1.207),
 ('Financial Services', 0.988),
 ('Healthcare', 0.547),
 ('Consumer Defensive', 0.497)]

In [24]:
%%sql

DELETE FROM stocks
WHERE StockID IN (
    SELECT StockID
    FROM (
        SELECT StockID
        FROM stocks
        ORDER BY ERet ASC
        LIMIT 5
    ) AS subquery
);

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
5 rows affected.

[]

In [25]:
%%sql

SELECT * FROM stocks;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
10 rows affected.

[(4, 'GOOGL', 'Communication Services', 172.11, 1.019, 4.991),
 (5, 'META', 'Communication Services', 467.05, 1.208, 4.942),
 (7, 'BRK-A', 'Financial Services', 617690.0, 0.894, 4.789),
 (8, 'JNJ', 'Healthcare', 145.28, 0.547, 7.53),
 (9, 'JPM', 'Financial Services', 199.33, 1.116, 8.313),
 (10, 'V', 'Financial Services', 271.3, 0.953, 4.121),
 (11, 'PG', 'Consumer Defensive', 162.58, 0.423, 4.287),
 (13, 'DIS', 'Communication Services', 101.7, 1.395, 5.369),
 (14, 'KO', 'Consumer Defensive', 61.97, 0.575, 4.857),
 (15, 'WMT', 'Consumer Defensive', 64.89, 0.494, 4.099)]